GITLAB_PROXY_URL=https://gitlab.your-proxy.com
GITLAB_PROXY_TOKEN=your-proxy-personal-access-token
GITLAB_CLIENT_URL=https://gitlab.your-client.com
GITLAB_CLIENT_TOKEN=your-client-personal-access-token
